# Игнорировать файлы классов Java
*.class

# Игнорировать директории сборки
/target/
/out/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы конфигурации Maven
.mvn/

# Игнорировать файлы конфигурации Gradle
.gradle/

# Игнорировать файлы с логами и временными данными
*.log
logs/
*.log.*
*.tmp

# Игнорировать файлы конфигурации
application.properties
application.yml

# Игнорировать файлы, созданные вашей IDE
*.iml
*.iws
*.ipr
*.idea/
*.classpath
*.project

# Игнорировать файлы среды выполнения Java
/bin/
/lib/

# Игнорировать файлы с временными данными
*.swp
*.swo
*.swn

# Игнорировать файлы сборки Java
build/
